#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.translatedTextDiv {
  position: relative;
}

.buttonsDiv {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}
